@font-face {
    font-family: 'myFirstFont';
    src: url(Kirbys-Adventure.ttf) format('truetype');
}

body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: black;
}

#quintus-kirby_container{
    background: url(../images/super-nintendo.png) no-repeat;
    padding: 34px 146px 144px 76px;
}


#quintus-kirby_container > canvas{ display: block }